.container{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
 border-radius: 10px;
 background-color: var(--bg);
 padding: 15px;
}
.img{
    width: 100px;
}
.nametech{
    display: flex;
    justify-content: center;
    font-size: 18px;
}