.container{
    background-color: var(--bg-alt);
    color: var(--text)
    
}
.title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 5%;
    font-weight: 900;
    color: var(--text)
}
.title>p{
    border-radius: 5%;
    border-bottom: 4px solid var(--color-alt);
}
.fotoImagen>img{
    border: 1px solid var(--text);
    width: 200px;
    box-shadow: 5px 5px;
}
.containerimage{
    display: flex;
    justify-content: center;
    padding: 0% 15%;
    gap: 5%;
}


.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detalleDev{
    display: flex;
    
}
.detallePerfil{
    display: flex;
    margin-top: 5%;
    gap: 4%;
    flex-wrap: wrap;
    
}
.detallesDetalles{
    display: flex;
    justify-content: space-around;
}
.experiencia{
    display: flex;
    justify-content: center;
    margin: 5% 27%;
    padding: 2% 2%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--bg);
}
.experienciadiv>strong{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: var(--color-alt);
}
.experienciadiv>p{
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.aboutme{
    text-align: justify;
}

.detalleSpace{
    font-weight: 700;
}

.btnDescarga{
    width: 100%;
    margin-top: 5%;
    box-shadow: 5px 5px;
    color: var(--color-alt);
    background-color: var(--bg);
    border-radius: 2px;
    padding: 10px 0px;
    transition: 0.4s;
    cursor: pointer;
}
.btnDescarga:hover{
    background-color: var(--text);
    transition: 0.4s;
    color: var(--bg-alt);
}