.container{
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--bg);
    padding: 20px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.title{
    color: var(--color-alt);
    font-weight: 700;
    margin-bottom: 4px;
}
.location{
    font-weight: 400;
    margin-bottom: 15px;
}
.description{
    text-align: left;
}

